* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialised;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  font-family: Galada;
  font-weight: 400;
}

span {
  color: #ff9900;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#home {
  color: #ff9900;
}

#hamburguer {
  height: calc(100vh - 4rem);
}

#main {
  height: 100px;
  width: 350px;
}

#main h2 {
  color: #ea0000;
  font-size: 20px;
  font-family: "Galdeano", sans-serif;
}
#main h1 {
  font-family: "Galada", cursive;
  font-size: 40px;
}
span {
  color: #ff9900;
}
#main p {
  font-family: "Inter", sans-serif;
  font-size: 13px;
}
#price {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
#price h3 {
  margin-right: 15px;
  font-size: 27px;
  color: #ff9900;
}
#price p {
  font-size: 15px;
  text-decoration: line-through;
}
button {
  margin-top: 10px;
  background-color: #ea0000;
  color: #ffff;
  padding: 15px;
  border-radius: 10px;
}

#main{
  height: 100px;
  width: 350px;
  margin: 40px;

}
#conteudo{
  display: flex;


}

#main h2{
  color: #EA0000;
  font-size: 20px;
  font-family: 'Galdeano', sans-serif;
}
#main h1{
  font-family: 'Galada', cursive;
  font-size: 40px;
  display: flex;
}
span{
  color: #FF9900;
}
#main p{
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  
}
#price{
  display: flex;
  align-items: center;
  margin-top: 10px;

}
#price h3{
  margin-right: 15px;
  font-size: 27px;
  color: #FF9900;
}
#price p{
  font-size: 15px;
  text-decoration: line-through;
}
button{
  margin-top: 10px;
  background-color: #EA0000;
  color: #ffff;
  padding: 15px;
  border-radius: 10px;

}

